/* - =͟͟͞͞ =͟͟͞͞ ﾍ( ´Д`)ﾉ 帅气的我又来啦*/
:root{
	--card_background: linear-gradient(120deg, #2af, #48e);
	--card_shadow: 0 2px 5px 0px #0002;
	--card_radius: 2px;
	--background_color: #f9f9f9;
	--text_color1: #555;
	--text_color2: #888;
	--text_color3: #bbb;
}
html{
	overflow-y: scroll;
}
body {
	background: var(--background_color);
	margin: 0;
}
input {
	border: none;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: var(--card_shadow);
	border-radius: var(--card_radius);
}
button.jump {
	display: block;
	border: none;
	border-bottom: solid 1px var(--text_color3);
	background: none;
	text-align: left;
	padding: 8px 16px;
	font-size: 110%;
	color: var(--text_color1);
	width: 100%;
	/* 	height:41px; */
	/* 	animation: exp 1s; */
}
#Dm {
	animation: exp .2s;
}
@keyframes exp {
	0% {
		width: 97%;
		height: 41px;
		color: var(--background_color);
		border-bottom-color: var(--background_color);
	}
	25% {
		/* 		color:#a5e6b3; */
	}
	100% {
		height: 41px;
		width: 100%;
		color: var(--text_color1);
		border-bottom-color: var(--text_color3);
	}
}
button.jump:hover {
	color: var(--text_color2);
}
a:hover {
	color: #ddd;
}
:focus {
	outline: none;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
}
#result {
	margin-top: 54px;
}
#searchDiv{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.card {
	background: var(--card_background);
	border-radius: var(--card_radius);
	color: #fff;
	box-shadow: var(--card_shadow);
	box-sizing: border-box;
	padding: 8px;
}
.cardtitle {
	color: #fff;
	background: none;
	text-align: left;
	width: 100%;
	border: none;
	border-bottom: solid 1px #f1f1f1;
	font-size: 200%;
	font-family: "等线";
	font-weight: bold;
	margin: 0;
	padding: 16px;
}
.cardcontent {
	line-height: 20px;
	font-size: 100%;
	font-family: "等线";
	margin: 0;
	padding: 8px;
}
.cardcontent ul{
	list-style: inside circle;
	padding-left: 0;
}
.cardcontent span{
	background-color: #0001;
	padding: 1px 5px;
	border-radius: 5px;
	margin: 3px;
	font-size: 90%;
}
#resultUl {
	padding-top: 8px;
}
#mail {
	color: #fff;
	text-decoration: none;
}
span.jpExplain {
	float: right;
}
.jump.jpTitle {
	margin-top: 30px;
}
.jump.jpTitle:hover {
	color: #666;
}
.jump.jpEpt {
	border: none;
	display: flex;
	justify-content: center;
	margin: 200px 0;
}
#rand{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#rand button{
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: var(--card_shadow);
	background: var(--card_background);
	color: white;
}
#rand button:hover{
	filter: brightness(0.92);
	cursor: pointer;
	transition: 0.2s;
}
#rand svg{
	/* 居中 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer{
	margin-bottom: 30px;
	color: var(--text_color3);
}
.footer > *{
	color: var(--text_color3)!important;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.footicon{
	height: 16px;
}
.footname{
	margin: 0 15px 0 5px;
}